<!DOCTYPE html>
<html lang="en">
  <head>
    <link
      rel="stylesheet"
      type="text/css"
      href="../assets/Stylesheets/index.css"
    />
    <link
      rel="shortcut icon"
      type="image/png"
      href="../assets/Images/favicon.ico"
    />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css"
    />

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Footer</title>
  </head>
  <body>
    <footer>
      <strong>
        &copy; Posted by: Kishan Singh Contact information:<a
          href="mailto:ksingh15@uncc.edu"
        >
          ksingh15@uncc.edu</a
        >
      </strong>
    </footer>
  </body>
</html>
