<!DOCTYPE html>
<html lang="en">
  <head>
    <link
      rel="stylesheet"
      type="text/css"
      href="../assets/Stylesheets/index.css"
    />
    <link
      rel="shortcut icon"
      type="image/png"
      href="../assets/Images/favicon.ico"
    />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css"
    />

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Index</title>
  </head>
  <body>
    <div class=" verticalNavbar ">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/categories">Categories </a></li>
        <li><a href="#"> Store</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/contact">Contact Us</a></li>
      </ul>
    </div>
  </body>
</html>
