<!DOCTYPE html>
<html lang="en">
  <head>
    <link
      rel="stylesheet"
      type="text/css"
      href="/assets/Stylesheets/index.css"
    />
    <link
      rel="shortcut icon"
      type="image/png"
      href="/assets/Images/favicon.ico"
    />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css"
    />

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>About Us</title>
  </head>
  <body>
    <% include partials/header.ejs%> <% include partials/user-navigation.ejs%>

    <div class="container flex">
      <% include partials/site-navigation.ejs%>
      <div class="  content">
        <div class="row">
          <div class="col-md-12">
            <h3>Smart-Mart in Nashville</h3>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <p>
              We’re excited to work with Middle Tennesseans over the coming
              months and years to bring our new Operations Center of Excellence
              to downtown Nashville and create 5,000 jobs in the city.
            </p>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12"><h3>Job creation & investment</h3></div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <p>
              Over the last 5-years, Smart-Mart has created more than 125 jobs
              in the US every day – from fulfillment centers to corporate
              offices, we’ve invested over $100 billion in the US alone.
            </p>
          </div>
        </div>

        <h3>Fulfillment @ Smart-Mart</h3>
        <p>
          At Smart-Mart, we’re able to innovate and delight customers thanks to
          our incredible workforce—the more than 250,000 full-time associates
          behind our global network of fulfillment centers. Smart-Mart
          Fulfillment is where our employees, technology and innovation come
          together every day to delight customers.
        </p>

        <button type="button" class="button-theme-filled">
          At Smart-mart we believe in giving back to the society, click here to
          learn more!
        </button>
      </div>
    </div>
    <% include partials/footer.ejs%>
  </body>
</html>
