<!DOCTYPE html>
<html lang="en">
  <head>
    <link
      rel="stylesheet"
      type="text/css"
      href="/assets/Stylesheets/index.css"
    />
    <link
      rel="shortcut icon"
      type="image/png"
      href="/assets/Images/favicon.ico"
    />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css"
    />

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Index</title>
  </head>
  <body>
    <% include partials/header.ejs%> <% include partials/user-navigation.ejs%>

    <div class="container flex">
      <% include partials/site-navigation.ejs%>
      <div class="  content">
        <div class="row">
          <div class="col-md-12">
            <h3>What & how we Sell @ Smart-Mart !?</h3>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <p>
              Selling on Smart-Mart is a program that enables both individuals
              and businesses to sell their products and inventory on
              Smart-Mart.com.
            </p>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12"><h3>Smart-Mart Policy</h3></div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <p>
              When you sign up as a Professional Seller, you will have access to
              sell on our US, Canadian, and Mexican marketplaces through a North
              America Unified Account.
            </p>
          </div>
        </div>

        <h3>Start selling on Smart-Mart</h3>
        <p>
          If you encounter any issues, we encourage you to contact the seller
          first. If you can't reach an agreement, you can apply for a refund by
          opening a dispute.
        </p>

        <button type="button" class="button-theme-filled">
          Sign up to become an individual seller
        </button>
      </div>
    </div>
    <% include partials/footer.ejs%>
  </body>
</html>
